[submodule "videos-service"]
	path = videos-service
	url = https://github.com/ermiry/videos-service
[submodule "videos-upload-client"]
	path = videos-upload-client
	url = https://github.com/ermiry/videos-upload-client
[submodule "videos-stream-client"]
	path = videos-stream-client
	url = https://github.com/ermiry/videos-stream-client
[submodule "stream-service"]
	path = stream-service
	url = https://github.com/ermiry/stream-service
